html, button, input, select, textarea { color: #222; }
body { font-size: 1em; line-height: 1.4; font-family: helvetica, arial, sans-serif; }
p, li { font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", helvetica, arial, sans-serif; }
::-moz-selection { background: #b3d4fc; text-shadow: none;}
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title { padding-top: 20px; }

/* ==========================================================================
   my styles
   ========================================================================== */
a { color: #555; text-decoration: none; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; -ms-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
h1 { color: #fff; color: rgba(255,255,255, 0.7); font-size: 600%; font-family: 'museo sans', museo, helvetica, sans-serif, arial, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体"; font-weight: normal; line-height: 90%; text-align: center; padding: 0; margin: 0; width: 100%; display: table-cell; vertical-align: middle; text-align: center; z-index: 2; position: relative; }
h1 img { text-align: center; padding: 0; margin: 0; width: auto; text-align: center; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; }
.subtitle { color: #fff; color: rgba(255,255,255, 0.7); font-size: 55%; font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", 'museo sans', museo, helvetica, sans-serif, arial; font-weight: normal; line-height: 150%; text-align: center; margin: 1% 0; width: 100%; display: table-cell; vertical-align: middle; text-align: center; display: block; }
.text { color: #fff; color: rgba(255,255,255, 0.7); font-size: 32%; font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", 'museo sans', museo, helvetica, sans-serif, arial; font-weight: normal; line-height: 100%; text-align: center; margin: 1% 0 0; width: 100%; display: table-cell; vertical-align: middle; text-align: center; display: block; }
img.weixin { width: 182px; height: 182px; padding:10px; margin:2% 0 0 0; background:#fff; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; }
.header-container { position: absolute; width: 100%; z-index: 5; display: none; }
nav ul { text-align: center; padding: 0; position: fixed; width: 100%; }
nav ul li { display: inline; padding: 20px; }
nav a { color: #fff; color: rgba(255, 255, 255, 0.8); }
nav a:hover { color: #fff; }
.intro { background: url(../img/bg.jpg) top center repeat-y; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; width: 100%; background-color: #333; min-height: 1000px; position: relative; z-index: 1; }
.intro h1 { display: none; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.fix { display: table; top: 0; left: 0; position: fixed; width: 100%; }
.arrow { position: fixed; bottom: 4%; left: 50%; z-index: 3; color: #fff; padding: 20px 45px; margin-left: -45px; opacity: 1; transition: all .3s ease-in-out; -webkit-animation: pulse 1s ease-in-out infinite alternate; -moz-animation: pulse 1s ease-in-out infinite alternate; animation: pulse 1s ease-in-out infinite alternate; outline: none; border: none; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
 @-webkit-keyframes pulse {
 0% {opacity: 0.4;}
 100% {opacity: 1;}
}
 @keyframes pulse {
 0% {opacity: 0.4;}
 100% {opacity: 1;}
}
.arrow:hover { bottom: 3%; }
.arrow::before, .arrow::after { content: ''; position: absolute; width: 20px; height: 3px; background: #fff; background: rgba(255, 255, 255, 0.8); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); border: none; }
.arrow::after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
.arrow::before { margin: 0 0 0 -14px; }
#house { position: relative; background-color: #313333; z-index: 4; }
.thumbs { -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; -ms-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.thumbs:hover { -webkit-transform: scale(1.01); -moz-transform: scale(1.01); -o-transform: scale(1.01); -ms-transform: scale(1.01); transform: scale(1.01); -moz-box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3); -webkit-box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3); box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3); }

/* ==========================================================================
   sidebar
   ========================================================================== */
.main-container { margin: 0; padding: 0; overflow: hidden; }
.menu { position: fixed; z-index: 6; cursor: pointer; padding: 20px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; -ms-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.menu:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }
.menu:before { content: ""; position: absolute; top: 20px; left: 20px; width: 1.5em; height: .25em; border-top: .75em double #fff; border-bottom: .25em solid #fff; }
.menu.sidebar-open { left: 100px; padding: 20px; position: fixed; width: 35px; height: 35px; top: 5px; right: 5px; cursor: pointer; z-index: 6; }
.menu.sidebar-open::before, .menu.sidebar-open::after { content: ''; position: absolute; width: 40%; height: 3px; background: #fff; background: rgba(255, 255, 255, 0.8); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); border: none; }
.menu.sidebar-open::after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
.menu.sidebar-open:hover::before, .menu.sidebar-open:hover::after { background: #03476a; }
.sidebar { width: 160px; position: fixed; z-index: 5; left: 0; bottom: 0; height: 100%; background-color: #2980b9; margin-left: -161px; -webkit-transition: all 0.1s ease-in-out both; -moz-transition: all 0.1s ease-in-out both; -o-transition: all 0.1s ease-in-out both; -ms-transition: all 0.1s ease-in-out both; transition: all 0.1s ease-in-out both; border-right: 1px dotted #006093; overflow-y: auto; }
.sidebar-open { display: block; margin-left: 0; }
.sidebar ul { list-style-type: none; padding: 0; margin: 10px 0 0 0; }
.sidebar a { padding: 15px 20px; color: #fff; text-decoration: none; display: block; border-bottom: 1px dotted #006093; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8; }
.sidebar a:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; border-bottom: 1px solid #006093; }
.sidebar img { height: 25px; }

/* ==========================================================================
   image grid
   ========================================================================== */
.grid { list-style: none; padding: 5% 0; margin: 0 auto; text-align: center; width: 100%; height: 100%; max-width: 1700px; }
.grid li { display: inline-block; margin: 10px; vertical-align: top; height: auto; width: 30%; }
.grid li > a, .grid li > a img { border: none; outline: none; display: block; position: relative; width: 100%; }
.grid li.expanded > a::after { top: auto; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-bottom-color: #2980b9; border-width: 15px; left: 50%; margin: -20px 0 0 -15px; }
.expander { position: absolute; background: #2980b9; top: auto; left: 0; width: 100%; text-align: left; margin-top: 10px; height: 0; overflow: hidden; }
.expander-inner { padding: 40px 20px; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.close { position: absolute; width: 40px; height: 40px; top: 20px; right: 20px; cursor: pointer; z-index: 4; }
.close::before, .close::after { content: ''; position: absolute; width: 100%; top: 50%; height: 3px; background: #b3dbf1; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }
.close::after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
.close:hover::before, .close:hover::after { background: #03476a; }
.fullimg, .details { width: 55%; float: left; height: 100%; overflow: hidden; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.details { width: 45%; padding: 0 20px; }
.fullimg { text-align: center; }
.fullimg img { display: inline-block; max-height: 100%; max-width: 100%; }
.details h3 { color: #03476a; font-weight: 500; font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", 'museo sans', museo, helvetica, sans-serif, arial; font-size: 250%; line-height: 100%; margin-bottom: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.details p { font-weight: 400; font-size: 120%; line-height: 25px; color: #b3dbf1; letter-spacing: 2px; }
.details a { font-weight: 700; font-size: 16px; color: #b3dbf1; background-color: #006093; text-transform: uppercase; letter-spacing: 2px; padding: 10px 20px; display: inline-block; margin: 30px 0 0; outline: none; }
.details a::after { content: '\2192'; display: inline-block; margin-left: 10px; }
.details a:hover { color: #fff; background-color: #03476a; }
.loading { width: 20px; height: 20px; border-radius: 50%; background: #ddd; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc; position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -25px; -webkit-animation: loader 0.5s infinite ease-in-out both; -moz-animation: loader 0.5s infinite ease-in-out both; animation: loader 0.5s infinite ease-in-out both; }
 @-webkit-keyframes loader {
 0% {background: #ddd;}
 33% {background: #ccc;box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;}
 66% {background: #ccc;box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;}
}
 @-moz-keyframes loader {
 0% {background: #ddd;}
 33% {background: #ccc;box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;}
 66% {background: #ccc;box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;}
}
 @keyframes loader {
 0% {background: #ddd;}
 33% {background: #ccc;box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;}
 66% {background: #ccc;box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;}
}

/* ==========================================================================
   Select the colour of the * if the field is required.
   ========================================================================== */
#message { margin: 1em 0; padding: 0; display: block; background: transparent none; }
.error_message { display: block; height: 22px; line-height: 22px; padding: 3px 10px 3px 35px; color: #2980b9; display: none; }
.loader { padding: 0 10px; }
#contact-form #success_page h1 { font-size: 400%; color: #fff; display: block; padding-top: 10%; }
::-webkit-input-placeholder {color: #fff; color: rgba(255, 255, 255, 0.8);}
:-moz-placeholder { /* Firefox 18- */ color: #fff; color: rgba(255, 255, 255, 0.8);}
::-moz-placeholder {  /* Firefox 19+ */ color: #fff; color: rgba(255, 255, 255, 0.8);}
:-ms-input-placeholder { color: #fff; color: rgba(255, 255, 255, 0.8);}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir { background-color: transparent; border: 0; overflow: hidden;  *text-indent: -9999px;}
.ir:before { content: ""; display: block; width: 0; height: 150%; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix {  *zoom: 1;}

/* ==========================================================================
   about styles
   ========================================================================== */
.about { padding: 0; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 400px; z-index: 4; background: #c14954 url(../img/bg-about.png) 50% 10% no-repeat fixed; }
.about-text { display: table; top: 0; left: 0; height: 100%; width: 78%; margin: 0 auto; }
.about-text p { color: #fff; display: table-cell; text-align: center; vertical-align: top; color: #fafafa; font-size: 20px; line-height: 40px; }
.about-text p span { background: #ac3843; padding: 2px 0 2px 6px; }

/* ==========================================================================
   checkin styles
   ========================================================================== */
.checkin { padding: 0; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 400px; z-index: 4; background: #07748a url(../img/bg-checkin.png) 50% 10% no-repeat fixed; }
.checkin-text { display: table; top: 0; left: 0; height: 100%; width: 75%; margin: 0 auto; }
.checkin-text p { display: table-cell; text-align: center; vertical-align: middle; color: #fafafa; font-size: 18px; line-height: 36px; }
.checkin-text p strong { color: #fafafa; font-size: 180%; font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", 'museo sans', museo, helvetica, sans-serif, arial; font-weight: normal; line-height: 400%; }
.checkin-text p span { background: #006276; padding: 2px 0 2px 6px; }
.checkin-text p b { color: #ffd796; padding: 0 6px; font-weight: normal; }
.checkin-text p label { font-family: constantiaregular, "SimSun", "宋体", 'museo sans', museo, helvetica, sans-serif, arial; font-size: 26px; font-weight: normal; padding: 0 5px; }
.checkin-text a { color: #fff; font-size: 80%; text-decoration: none; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8; }
.traffic-text a:hover { opacity: 1; }

/* ==========================================================================
   traffic styles
   ========================================================================== */
.traffic { padding: 0; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 400px; z-index: 4; background: #c28a2e url(../img/bg_all3.png) 50% 0 no-repeat fixed; }
.traffic-text { display: table; top: 0; left: 0; height: 100%; width: 75%; margin: 0 auto; }
.traffic-text p { display: table-cell; text-align: center; vertical-align: middle; color: #f6f6f6; font-size: 18px; line-height: 36px; }
.traffic-text p strong { color: #f6f6f6; /*color: rgba(255,255,255, 0.9);*/
font-size: 180%; font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", 'museo sans', museo, helvetica, sans-serif, arial; font-weight: normal; line-height: 200%; }
.traffic-text p span { background: #99640d; padding: 2px 0 2px 6px; }
.traffic-text p b { color: #222; padding: 0 6px; font-weight: normal; }
.traffic-text p label { font-family: constantiaregular, "SimSun", "宋体", 'museo sans', museo, helvetica, sans-serif, arial; font-size: 26px; font-weight: normal; padding: 0 5px; }
.traffic-text a { color: #fff; font-size: 100%; text-decoration: none; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8; }
.traffic-text a:hover { opacity: 1; }

/* ==========================================================================
   map styles
   ========================================================================== */
.map { padding: 0; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 400px; z-index: 4; background: #254a4f url(../img/chn.png) center top no-repeat fixed; overflow: hidden; }
.map-text { display: table; top: 0; left: 0; height: 100%; width: 78%; margin: 0 auto; }
.app { width: 906px; margin: 0 auto; padding: 46px 26px 26px; background: url(../img/appbg.png) no-repeat; height: 935px; position: absolute; left: 50%; top: 50%; margin: -251px 0 0 -480px; }
.app .app-head { line-height: 30px; height: 30px; background-color: #f4f4f4; background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #e2e2e2) ); background-image: -webkit-linear-gradient(top, #f4f4f4, #e2e2e2); background-image: -moz-linear-gradient(top, #f4f4f4, #e2e2e2); background-image: -o-linear-gradient(top, #f4f4f4, #e2e2e2); background-image: -ms-linear-gradient(top, #f4f4f4, #e2e2e2); background-image: linear-gradient(top, #f4f4f4, #e2e2e2);  filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#f4f4f4, endColorStr=#e2e2e2);
border: 1px solid #b4b4b4; border-top-left-radius: 5px; border-top-right-radius: 5px; text-align: center; }
.app .app-head ul { padding: 0; margin: 0 0 0 -50px; list-style: none; display: inline-block; border-right: 1px solid #b4b4b4; }
.app .app-head ul li { display: inline; font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", helvetica, arial, sans-serif; font-size: 14px; }
.app .app-head ul li a { float: left; padding: 0 15px; color: #000; border-left: 1px solid #b4b4b4; }
.app .app-head ul li.active a, .app .app-head ul li a:hover { background-color: #9B4237; background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #9B4237), color-stop(100%, #ab5146) ); background-image: -webkit-linear-gradient(top, #9B4237, #ab5146); background-image: -moz-linear-gradient(top, #9B4237, #ab5146); background-image: -o-linear-gradient(top, #9B4237, #ab5146); background-image: -ms-linear-gradient(top, #9B4237, #ab5146); background-image: linear-gradient(top, #9B4237, #ab5146);  filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#9B4237, endColorStr=#ab5146);color:#fff; }
.app .app-body { border: 1px solid #b4b4b4; height: 629px; border-top: none; }
.appimg { width: 100%; height: 100%; display: none; }
.appimg.active { display: block; }
.appimg img { width: 100%; height: 100%; display: block; }

.app2 { display:none;}

/* ==========================================================================
   contact styles
   ========================================================================== */
.contact { background: #333 url(../img/bear-top.png) 40% bottom no-repeat fixed; position: relative; overflow: hidden; min-height: 400px; padding: 0; z-index: 4; }
.sections { width: 35%; margin: 0 auto; padding: 40px 0; clear: both; }
.contact ul { padding: 80px 0 0 10px; list-style-type: none; }
.contact li { font-size: 106%; color: #fafafa; width: 320px; height: 60px; padding: 0 0 0 50px; background: url(../img/icons.png) no-repeat scroll 0 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); opacity: 0.5; }
.contact li:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8; }
.contact li.tel { background-position: 1px -294px; }
.contact li.qq { background-position: 0 -392px; }
.contact li.weibo { background-position: 0 -192px; }
.contact li.mail { background-position: 0 -90px; }
.contact li.address { background-position: 0 4px; }
.contact li.douban { background-position: 0 -494px; }
.contact li.renren { background-position: 0 -600px; }
.contact li.taobao { background-position: 0 -700px; }
.contact li label { font-family: constantiaregular, "SimSun", "宋体", 'museo sans', museo, helvetica, sans-serif, arial; font-weight: normal; font-size: 145%; padding: 0 2px; }
.contact li label.eng { font-size: 120%; }
.contact li a { color: #fff; }
.contact li a:hover { color: #9eceff; text-decoration: none; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8; }
.contact .time { position: absolute; z-index: 3; margin: 80px 0 0 0; color: #fff; font-size: 200%; font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", 'museo sans', museo, helvetica, sans-serif, arial; font-weight: bold; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)"; filter: alpha(opacity=35); opacity: 0.35; }
.contact .time:hover { color: #9eceff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=50); opacity: 0.5; }

/* ==========================================================================
   Floating Images Style
   ========================================================================== */
.background-stuff { position: absolute; width: 100%; min-width: 1000px; height: 900px; overflow: hidden; }
.floating-about-left { background: url(../img/about-right.png) 0 0 no-repeat; position: absolute; margin: 650px 0 0 0; width: 203px; left: 44%; height: 190px; -webkit-animation: floatiness 2.5s ease-in-out infinite alternate; -moz-animation: floatiness 2.5s ease-in-out infinite alternate; animation: floatiness 2.5s ease-in-out infinite alternate; }
.floating-checkin-left { background: url(../img/checkin-left1.png) 0 0 no-repeat; position: absolute; margin: 60px 0 0 0; width: 286px; left: 5%; height: 488px; -webkit-animation: floatiness 2.5s ease-in-out infinite alternate; -moz-animation: floatiness 2.5s ease-in-out infinite alternate; animation: floatiness 2.5s ease-in-out infinite alternate; }
.floating-checkin-right { background: url(../img/checkin-right1.png) 0 0 no-repeat; position: absolute; margin: 50px 0 0 0; width: 301px; right: 5%; height: 450px; -webkit-animation: floatiness 3s ease-in-out infinite alternate; -moz-animation: floatiness 3s ease-in-out infinite alternate; animation: floatiness 3s ease-in-out infinite alternate; }
.floating-contact-right { background: url(../img/logo2.png) 0 0 no-repeat; position: absolute; margin: 150px 0 0 100px; width: 294px; left: 50%; height: 294px; -webkit-animation: floatiness 3s ease-in-out infinite alternate; -moz-animation: floatiness 3s ease-in-out infinite alternate; animation: floatiness 3s ease-in-out infinite alternate; }
 @-webkit-keyframes floatiness {
 0% {top : 0px;}
 100% {top : 10px;}
}
@-moz-keyframes floatiness {
 0% {top : 0px;}
 100% {top : 10px;}
}
@keyframes floatiness {
 0% {top : 0px;}
 100% {top : 10px;}
}

/* bear floating */
.floating-traffic-left { background: url(../img/traffic-right.png) 0 0 no-repeat; position: absolute; margin: 60px 0 0 -630px; width: 160px; left: 50%; height: 550px; -webkit-animation: floatinbear 10s ease-in-out infinite alternate; -moz-animation: floatinbear 10s ease-in-out infinite alternate; animation: floatinbear 10s ease-in-out infinite alternate; }
 @-webkit-keyframes floatinbear {
 0% {top : 0px;}
 100% {top : 100px;}
}
 @-moz-keyframes floatinbear {
 0% {top : 0px;}
 100% {top : 100px;}
}
 @keyframes floatinbear {
 0% {top : 0px;}
 100% {top : 100px;}
}

/* footer styles */
.footer { background: /*#DACEAD*/#555; height: 30px; position: relative; z-index: 7; -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 2px 20px rgba(0,0,0,0.4); -ms-box-shadow: 0 2px 20px rgba(0,0,0,0.4); -o-box-shadow: 0 2px 20px rgba(0,0,0,0.4); box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4); overflow: hidden; }
.footer .nav { margin: 0 auto; display: table; }
.footer ul { padding: 0; list-style-type: none; width: 100%; margin: 0 auto; }
.footer ul li { float: left; vertical-align: middle; padding: 6px 15px; font-size: 85%; }
.footer ul li img { width:50%;}
.footer ul li a { color: #222; text-decoration: none; }
.footer ul li a:hover { color: #9eceff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); opacity: 0.7; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
* { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; }
a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
/*
 * Don't show links for images, or javascript/internal links
 */
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; /* h5bp.com/t */ }
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}

/* ==========================================================================
   BackTop Style
   ========================================================================== */
#elevator { position: fixed; z-index: 999; right: 15px; bottom: 10px; }
#elevator .backTop { display: block; width: 60px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,.2); cursor: pointer; height: 50px; background: url(../img/icon_top.png) center center no-repeat; background-color: #444; background-color: rgba(0,0,0,.6); margin-bottom: 10px; }
#elevator .code { display: block; width: 60px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0,0,0,.2); cursor: pointer; height: 40px; background: url(../img/icon_code.png) center center no-repeat; background-color: #444; background-color: rgba(0,0,0,.6); }
#elevator .backTop:hover, #elevator .code:hover { background-color: rgba(0,0,0,.7) }
#elevator .qr-popup { position: absolute; bottom: 0; left: -180px; width: 170px; height: 200px; box-shadow: 0 1px 8px rgba(0,0,0,.1); text-align: center; background: #fff; border-radius: 2px; display: none; }
#elevator .code-link { margin: 10px; display: block; }
#tv.qr-popup { position: fixed; top: 82%; left: 45%; width: 192px; height: 192px; margin-top: -150px; box-shadow: 0 1px 8px rgba(0,0,0,.1); text-align: center; background: #fff; border-radius: 0px; display: none; z-index: 10; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; }
#tv.qr-popup img { width: 182px; height: 182px; }
#tv.qr-popup .code-link { margin: 10px; display: block; }
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 1700px) {
.subtitle { font-size: 48%; }
.text { font-size: 28%; }
img.weixin { width: 160px; height: 160px; padding:8px;}
body {overflow-x:hidden;}
}
@media screen and (max-width: 1400px) {
.subtitle { font-size: 48%; }
.text { font-size: 28%; }
img.weixin { width: 140px; height: 140px; padding:8px;}
.about-text p { font-size: 16px; line-height: 32px; }
.checkin-text p { font-size: 16px; line-height: 30px; }
.checkin-text p strong { font-size: 140%; line-height: 300%; }
.checkin-text p label { font-size: 20px; }
.traffic-text p { font-size: 16px; line-height: 30px; }
.traffic-text p strong { font-size: 140%; line-height: 100%; }
.traffic-text p label { font-size: 20px; }
.sections { width: 48%; }
.contact ul { padding: 40px 0 0 10px; }
.contact li { height: 45px; }
.contact .time { font-size: 170%; margin: 50px 0 0 0; }
.contact { background: #333 url(../img/bear-top2.png) 35% bottom no-repeat fixed; }
.floating-traffic-left { margin: 60px 0 0 -520px; left: 50%; }
.floating-about-left { margin: 540px 0 0 0; left: 42%; }
.floating-contact-right { background: url(../img/logo2mini.png) 0 0 no-repeat; }
}
@media screen and (max-width: 1300px) {
#tv.qr-popup { display:none;}
.contact { background: #333 url(../img/bear-top2.png) 32% bottom no-repeat fixed; }
.sections { width: 50%; }
.background-stuff { display:none;}
}
@media screen and (max-width: 1050px) {
img.weixin { width: 120px; height: 120px; padding:8px;}
.about { background: #c14954 url(../img/bg-about2.png) 50% 10% no-repeat fixed; }
.contact { background: #333 url(../img/bear-top2.png) 28% bottom no-repeat fixed; }
.sections { width: 63%; }
}
@media screen and (max-width: 830px) {
img.weixin { width: 80px; height: 80px; padding:8px;}
.expander h3 { font-size: 32px; }
.expander p { font-size: 13px; }
.expander a { font-size: 12px; }
.about-text { width: 90%; }
}
@media screen and (max-width: 780px) {
img.weixin { display:none;}
.about-text, .checkin-text, .traffic-text { width: 85%; }
.contact { background: #333 url(../img/bear-top2.png) 12% bottom no-repeat fixed; }
.sections { width: 85%; }
.floating-about-left { margin: 540px 0 0 0; left: 27%; }
.floating-traffic-left { margin: 60px 0 0 -560px; left: 50%; }
.floating-contact-right { background: url(../img/logo2mini.png) 0 0 no-repeat; margin: 120px 0 0 100px; left: 34%; }
.app { display:none; }
.app2 { display:table-cell; width:640px; height:600px; background:url(../img/appimg-640.png) center center no-repeat;}
}
@media screen and (max-width: 650px) {
.about-text, .checkin-text, .traffic-text { width: 90%; }
.checkin-text p { font-size: 16px; line-height: 28px; }
.map { background: #254a4f; }
.contact { background: #333; }
.sections { width: 78%; }
.floating-about-left { margin: 620px 0 0 0; left: 20%; }
.floating-traffic-left { margin: 60px 0 0 -600px; left: 50%; }
.floating-contact-right { display: none; }
}
@media only screen and (max-width: 480px) {
.grid li { width: 90%; }
h1 { font-size: 300%; }
h1 span { font-size: 60%; line-height: 100%; }
#contact-form { padding: 0 10%; }
.close { top: 60px; right: 30px; }
.fix { position: relative; }
.arrow { position: absolute; }
h1 img { width: 65%; }
.subtitle { font-size: 68%; line-height: 150%; }
.text { font-size: 40%; }
.about-text, .checkin-text, .traffic-text { width: 95%; }
.about-text p { font-size: 14px; line-height: 28px; }
.checkin-text p { font-size: 14px; line-height: 28px; }
.checkin-text p strong { font-size: 140%; line-height: 300%; }
.checkin-text p label { font-size: 18px; }
.traffic-text p { font-size: 14px; line-height: 28px; }
.traffic-text p strong { font-size: 140%; line-height: 100%; }
.traffic-text p label { font-size: 18px; }
.contact { background: #333; }
.sections { width: 90%; }
.floating-about-left { margin: 600px 0 0 0; left: 12%; }
.floating-traffic-left { margin: 60px 0 0 -580px; left: 50%; }
.floating-contact-right { display: none; }
.app2 { display:table-cell; width:480px; height:600px; background:url(../img/appimg-480.png) center center no-repeat;}
}
@media screen and (max-width: 340px) {
h1 img { width: 75%; }
.subtitle { font-size: 58%; line-height: 150%; }
.text { font-size: 33%; }
.about-text, .checkin-text, .traffic-text { width: 100%; }
.about-text p { font-size: 12px; line-height: 16px; }
.checkin-text p { font-size: 12px; line-height: 16px; }
.checkin-text p strong { font-size: 120%; line-height: 100%; }
.checkin-text p label { font-size: 14px; }
.traffic-text p { font-size: 12px; line-height: 17px; }
.traffic-text p strong { font-size: 120%; line-height: 100%; }
.traffic-text p label { font-size: 14px; }
.contact li { font-size: 90%; width: 240px; height: 40px; }
.contact li label { font-size: 125%; }
.contact li label.eng { font-size: 100%; }
.contact .time { margin: 30px 0 0 10px; font-size: 100%; }
.floating-traffic-left { margin: 60px 0 0 -750px; left: 50%; }
.app2 { display:table-cell; width:340px; height:640px; background:url(../img/appimg-480.png) center center no-repeat;}
}
@media only screen and (min-width: 480px) {
.grid li { width: 45%; }
#contact-form { padding: 0 15%; }
.fix { position: relative; }
.arrow { position: absolute; }
}
@media only screen and (min-width: 768px) {
.grid li { width: 30%; }
#contact-form { padding: 0 18%; }
}
@media screen and (max-width: 650px) {
.fullimg { display: none; }
.details { float: none; width: 100%; }
#contact-form { padding: 0 15%; }
.fix { position: relative; }
.arrow { position: absolute; }
.about img { padding: 20px 2%; }
}
@media only screen and (min-width: 1140px) {
/* ===============
    Maximal Width
   =============== */
.grid li { width: 22%; }
#contact-form { padding: 0 25%; }
.fix { position: fixed; }
.arrow { position: fixed; }
}
@media only screen and (min-width: 960px) {
/* ===============
    Maximal Width
   =============== */
.header-container { display: block; }
.menu, .sidebar { display: none; }
}

/* ==========================================================================
    Webfont Styles
   ========================================================================== */
@font-face { font-family: "constantiaregular"; src: url("constan-webfont.eot"); }
@font-face { font-family: "constantiaregular"; src: url(//:) format("no404"), url('constan-webfont.eot?#iefix') format('embedded-opentype'), url("constan-webfont.woff") format("woff"), url("constan-webfont.ttf") format("truetype"), url("constan-webfont.svg#constantiaregular") format("svg"); font-weight: normal; font-style: normal; }